body {
  background-color: #f9f7fe;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url("images/brokenCloudes.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
a {
  color: #8c3804;
  font-weight: 500;
  font-size: 15px;
}

header {
  padding: 0px 0px 30px 0px;
  border-bottom: 1px solid #f2f2f9;
}

main {
  padding: 25px 0;
}

strong {
  color: #fb4646;
}

footer {
  border-top: 1px solid #f2f2f9;
  text-align: center;
  font-size: 16px;
  padding: 30px 0 0 0;
  color: rgba(22, 21, 21, 0.5);
}
.weather-app {
  background-color: rgb(238, 234, 234);
  opacity: 0.9;
  max-width: 550px;
  margin: 50px auto;
  box-shadow: 5px 5px 10px 2px rgba(40, 39, 39, 0.3);
  border-radius: 10px;
  padding: 35px 30px;
}
.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 8px;
  width: 80%;
  padding: 19px;
  font-size: 17px;
}

.search-form-button {
  background-color: #ed5109;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 19px;
  font-size: 17px;
  margin-left: 3px;
}

.weather-data-app {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  margin: 12px 0 0 0;
  font-size: 40px;
  line-height: 52px;
}

.weather-app-details {
  font-size: 16px;
  line-height: 25px;
  color: rgba(22, 21, 21, 0.4);
  font-weight: 500;
}
.weather-app-temperature-container {
  display: flex;
}

.weather-app-temperature {
  font-size: 80px;
  font-weight: bold;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
  margin-top: 14px;
}

.weather-app-unit {
  font-size: 25px;
  margin-top: 22px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
.weather-forecast-date {
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 15px;
  color: rgba(22, 21, 21, 0.5);
}

.weather-forecast-icon {
  width: 75px;
  height: 75px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  text-align: center;
  margin-top: 14px;
  display: flex;
  justify-content: center;
  text-align: center;
  color: #fb4646;
}

.weather-forecast-temperature {
  padding: 0 6px;
}
